{% extends 'frontbase.html.twig' %}

{% block title %}Cart index{% endblock %}

{% block body %}
    <h1>Cart index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Created_at</th>
                <th>Show Item</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{ cart.product[0]['name'] }}</td>
                <td>{{ cart.quantity }}</td>
                <td>{{ cart.total }}</td>
                <td>{{ cart.created_at ? cart.created_at|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('cart_show', {'id': cart.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('productList') }}">Continue Shopping</a>
    <a href="{{ path('productList') }}">Check out</a>
{% endblock %}
