{% extends 'frontbase.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <h1>Cart</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ cart.product[0]['name'] }}</td>
            </tr>
            <tr>
                <th>Retail price</th>
                <td>{{ cart.product[0]['retail_price'] }}</td>
            </tr>
            <tr>
                <th>Whole sale price</th>
                <td>{{ cart.product[0]['wholesale_price'] }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ cart.cart.quantity }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ cart.cart.createdAt ? cart.cart.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ cart.total}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cart_index') }}">back to list</a>

    {{ include('cart/_delete_form.html.twig') }}
{% endblock %}
