{% extends 'base.html.twig' %}

{% block title %}Edit Store Manager{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('back/css/bootstrap-material-datetimepicker.css') }}" rel="stylesheet">
  <link href="{{ asset('back/css/jquery-clockpicker.min.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}

{{ parent() }}

  {# date time picker  #}
  
  <script src="{{ asset('back/js/moment.js') }}"></script> 
  <script src="{{ asset('back/js/bootstrap-datepicker.min.js') }}"></script> 
  <script src="{{ asset('back/js/bootstrap-timepicker.min.js') }}"></script> 
  <script src="{{ asset('back/js/moment.js') }}"></script> 
  
  <script src="{{ asset('back/js/bootstrap-material-datetimepicker.js') }}"></script>
  <script src="{{ asset('back/js/jquery-clockpicker.min.js') }}"></script> 
  <script src="{{ asset('back/js/form-pickers.js') }}"></script>

{% endblock %}

{% block content %}
<div class="container-fluid">


<!-- ============================================================== --> 
<!-- Start Page Content --> 
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-3 col-md-12">
        
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title text-uppercase mb-20">
                    EDIT TRAIN TRIP
                </h4>
                <h6 class="card-subtitle m-b-5">
                    
                </h6>
                {{ include( 'train_trip/_form.html.twig' )}}
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
    </div>
</div>
</div>

{% endblock content %}


        
