{% extends 'base.html.twig' %}

{% block title %}TrainTrip{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('back/css/jsgrid.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/css/jsgrid-theme.min.css') }}" rel="stylesheet">
    
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title text-uppercase mb-20 pull-left"> Train Trip</h4>
                <h6 class="card-subtitle pull-left mt-0 ml-10 font-13"></h6>
                <a href="{{ path('train_trip_new') }}" class="plus-icon pull-left">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                <div class="table-responsive mt-40">
                    <table id="myTable" class="display nowrap table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Allowed Capacity</th>                                
                                <th>Start Time</th>
                                <th>Departure Date</th>
                                <th>Stores</th>                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%set i = 1 %}
                            {% for train_trip in train_trips %}
                                <tr>
                                    <td>{{~i~}}</td>
                                    {% set i = i + 1 %}
                                    <td >{{ train_trip.allowed_capacity }}</td>                                    
                                    <td>{{ train_trip.startTime|date('h:i A') }}</td>
                                    <td>{{ train_trip.date|date("Y/m/d") }} </td>
                                    <td style = "text-align:left">
                                        {% for store in train_trip.store %}
                                            {{ store.name }} {{ ',' }}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href="{{path('train_trip_edit', { 'id': train_trip.id}) }}" class="pencil-icon">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="delete-icon" data-id="{{ train_trip.id }}" >
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}


{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('back/js/jquery.dataTables.min.js') }}"></script> 
    <script src="{{ asset('back/js/dataTables.buttons.min.js') }}"></script> 
    <script src="{{ asset('back/js/buttons.flash.min.js') }}"></script> 
    <script src="{{ asset('back/js/jszip.min.js') }}"></script> 
    <script src="{{ asset('back/js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('back/js/vfs_fonts.js') }}"></script> 
    <script src="{{ asset('back/js/buttons.html5.min.js') }}"></script> 
    <script src="{{ asset('back/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('back/js/data-table.js') }}"></script>


    <script>

        $( document ).ready(function() {


            $(".delete-icon").on("click", function (e) {

                e.preventDefault();
                var id = $(this).data("id");

                $.confirm({
                    title: 'Delete Confirmation!',
                    content: 'Are you sure you want to delete this record?',
                    type: 'red',
                    typeAnimated: true,
                    buttons: {
                        confirm: {
                            text: 'Confirm',
                            btnClass: 'btn-red',
                            action: function(){
                                url = "{{path('train_trip_delete', { 'id': 0}) }}";
                                url = url.replace("0",id);
                                token = "{{ csrf_token('train_trip') }}"
                                $.ajax({
                                    url: url,
                                    type: 'DELETE',
                                    data: {
                                        _token: token
                                    },
                                    success: function(result) {
                                        $.confirm({
                                            title: 'Deleted',
                                            content: 'The record was successfully deleted',
                                            type: 'green',
                                            typeAnimated: true,
                                            buttons: {
                                                close: function () {
                                                    location.reload();
                                                }
                                            }
                                        });
                                    }
                                });
                            }
                        },
                        close: function () {
                        }
                    }
                });
            });


        });

    </script>

{% endblock %}
