{{ form_start(form, {'attr': {'class': 'form no-background'} }) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="form-group has-success m-t-15 m-b-10 row">
        {{ form_label(form.truck, 'Truck', { 'label_attr': {'class': 'form-control-label col-4 col-form-label text-dark weight-500'} }) }}
        <div class="col-8">
            {{ form_widget(form.truck, {'attr': {'class': 'form-control form-control-success text-success'}}) }}
        </div>
    </div>

    <div class="form-group has-success m-t-15 m-b-10 row">
        {{ form_label(form.driver, 'Driver', { 'label_attr': {'class': 'form-control-label col-4 col-form-label text-dark weight-500'} }) }}
    <div class="col-8">
        {{ form_widget(form.driver, {'attr': {'class': 'form-control form-control-success text-success'}}) }}
    </div>
    </div>

    <div class="form-group has-success m-t-15 m-b-10 row">
        {{ form_label(form.driver_assistant, 'Driver Assistat', { 'label_attr': {'class': 'form-control-label col-4 col-form-label text-dark weight-500'}, 'errors': [] }) }}
    <div class="col-8">
        {{ form_widget(form.driver_assistant, {'attr': {'class': 'form-control form-control-success text-success', 'id': 'inlineFormCustomSelect'}}) }}
    </div>
    </div>
    <div class="form-group has-success m-t-15 m-b-10 row">
        {{ form_label(form.date, 'Date', { 'label_attr': {'class': 'form-control-label col-4 col-form-label text-dark weight-500'}, 'errors': [] }) }}
    <div class="col-8">
        {{ form_widget(form.date, {'attr': {'class': 'form-control form-control-success text-success', 'id': 'inlineFormCustomSelect'}}) }}
    </div>
    </div>
    <div class="form-group has-success m-t-15 m-b-10 row">
        {{ form_label(form.start_time, 'Start Time', { 'label_attr': {'class': 'form-control-label col-4 col-form-label text-dark weight-500'}, 'errors': [] }) }}
    <div class="col-8">
        {{ form_widget(form.start_time, {'attr': {'class': 'form-control form-control-success text-success', 'id': 'inlineFormCustomSelect'}}) }}
    </div>
    </div>
    <div class="form-group has-success m-t-15 m-b-10 row">
        {{ form_label(form.end_time, 'End Time', { 'label_attr': {'class': 'form-control-label col-4 col-form-label text-dark weight-500'}, 'errors': [] }) }}
    <div class="col-8">
        {{ form_widget(form.end_time, {'attr': {'class': 'form-control form-control-success text-success', 'id': 'inlineFormCustomSelect'}}) }}
    </div>
    </div>
    <div class="form-group has-success m-t-15 m-b-10 row">
        {{ form_label(form.max_time_allocation, 'Max Time Allocation', { 'label_attr': {'class': 'form-control-label col-4 col-form-label text-dark weight-500'}, 'errors': [] }) }}
    <div class="col-8">
        {{ form_widget(form.max_time_allocation, {'attr': {'class': 'form-control form-control-success text-success', 'id': 'inlineFormCustomSelect'}}) }}
    </div>
    </div>

    <div class="form-group has-success m-t-15 m-b-10 row">
    <div class="col-10"></div>
    <div class="col-2">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-rounded  waves-effect waves-light btn-outline-primary font-12'}}) }}
    </div>
    </div>              
{{ form_end(form) }}
