{% extends 'frontbase.html.twig'%}

{% block title%}Wide Corrugated Boxes{% endblock %}

{% block body%}

<div class="boxed-wrapper" id="changing-image">
    <div id="page-body" class="breadcrumb-color">
      
      <div id="shopify-section-header" class="shopify-section">
        <header class="header-content" data-stick="true" data-stickymobile="false">

        <div id="body-content" class="layout-boxed"  style=" background-image: url( {{ asset('front/images/body-10.jpg') }} ); ">
          <div id="main-content"> 
            <div class="main-content">
              <div id="shopify-section-product-template" class="shopify-section">
                
                <div class="wrap-breadcrumb bw-color">
                  <div id="breadcrumb" class="breadcrumb-holder container">

                    <div class="row">
                      
                      
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <ul class="breadcrumb">
                          
                          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a itemprop="url" href="/">
                              <span itemprop="title" class="d-none">Expeditor</span>Home
                            </a>
                          </li>

                          
                          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="d-none">
                            <a href="" itemprop="url">
                              <span itemprop="title">{{product[0]['name']}}</span>
                            </a>
                          </li>    
                          
                          <li>
                            <a href="" title="">{{product[0]['name']}}</a>
                          </li>

                          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="d-none">
                            <a href="/products/donkix-product-sample" itemprop="url">
                              <span itemprop="title">item name</span>
                            </a>
                          </li>

                          <li>
                            <a href="" title="">Retail</a>
                          </li>

                          
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>

                <div itemscope itemtype="http://schema.org/Product">
                  <meta itemprop="url" content="https://arena-handy.myshopify.com/products/donkix-product-sample" />
                  <meta itemprop="image" content="//cdn.shopify.com/s/files/1/0102/1155/7435/products/6_a58db3c3-fa0c-4882-a718-b543511467ce_grande.jpg?v=1537342931">
                  <span itemprop="name" class="hide">{{product[0]['name']}}</span>
    
    
  
  
  
  
  
  
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-9 col-md-12" style="width: 1100px">
                        <div id="col-main" class="page-product layout-normal" style="width: 1200px">

                          <div class="product">
                            
                            <div class="product-content-wrapper">
                              <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                  <div id="product-image" class="product-image ">
                                    <div class="product-image-inner ">
                                      <ul style=" overflow: scroll; list-style: none;">
                                        <li>
                                          <div class="slider-main-image">
                                            <div class="slider-for-03">
                                              <div class="slick-item slick-zoom">
                                                  <div class="ar-quicklook-overlay" data-shopify-3d-variant-id="14880170180667" style="display: none;"></div>

                                                  <img class="image-zoom " src="/front/images/products/{{ product[0]['image'] }}" alt="'name'" style="width:400px;display:block;margin-left: auto;margin-right: auto;">

                                              </div>
                                              <div class="slick-item slick-zoom">
                                                  <div class="ar-quicklook-overlay" data-shopify-3d-variant-id="14880170180667" style="display: none;"></div>
                                              </div> 
                                            </div>
                                            <div class="slick-btn-03">
                                              <span class="btn-prev"><i class="demo-icon icon-left-1"></i></span>
                                              <span class="btn-next"><i class="demo-icon icon-right-1"></i></span>
                                            </div> 
                                          </div>                               
                                        </li>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-12" style="position: relative; right: 1px;">
                                  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                                  <div id="product-info" class="product-info">
                                    <div class="product-info-inner">
                                      <h1 itemprop="name" content="name" class="page-heading">{{product[0]['name']}}</h1>
                                        <div class="rating-links">
                                          <span class="apr-badge" id="spr_badge_1588808155195" data-rating="0.0">
                                            <span class="spr-starrating spr-badge-starrating">
                                              <i class="spr-icon spr-icon-star" style="color: gold"></i>
                                              <i class="spr-icon spr-icon-star" style="color: gold"></i>
                                              <i class="spr-icon spr-icon-star" style="color: gold"></i>
                                              <i class="spr-icon spr-icon-star" style="color: gold"></i>
                                              <i class="spr-icon spr-icon-star" style="color: gold"></i>

                                            </span>
                                          </span>
                                          <div class="shopify-product-reviews-badge" data-id="1588808155195"></div>
                                        </div>
                                      
                                      
                                      <div id="purchase-1588808155195" class="product-price">
                                        <div class="detail-price" itemprop="price" content="0.0">
                                            <span class="price-sale"><span class=money> $ {{product[0]['retail_price']}}</span></span>
                                        </div>
                                      </div> 
                                        
                                        <link itemprop="availability" href="http://schema.org/InStock" />
                                        
                                          <div class="short-description">
                                            <ul>
                                              {{product[0]['description']}}
                                            </ul>
                                          </div>
                                          <div class="">
                                            <ul>
                                              retail limit - {{product[0]['retail_limit']}}
                                            </ul>
                                          </div>
                                      <meta itemprop="priceCurrency" content="USD" /> 

                                      <div class="group-cw clearfix">
                                        <style>
                                         .quantity-show{
                                            width:100px !important ;
                                          }
                                        </style>
                                        {{ form_start(form) }}
                                          <div class="qty-add-cart">
                                            
                                            <div class="quantity-product">
                                              <div class="">
                                                <script type="text/javascript">
                                                  function incrementValue(){
                                                    var value = parseInt(document.getElementById('quantity').value, 10);
                                                    var retail_limit = {{product[0]['retail_limit']}};
                                                    value = isNaN(value) ? 0 : value;
                                                    value > retail_limit-1 ? value = retail_limit-1 : '';
                                                    value++;
                                                    document.getElementById('quantity').value = value;
                                                  }
                                                  function decreaseValue() {
                                                    var value = parseInt(document.getElementById('quantity').value, 10);
                                                    value = isNaN(value) ? 0 : value;
                                                    value < 2 ? value = 2 : '';
                                                    value--;
                                                    document.getElementById('quantity').value = value;
                                                  }
                                                </script>
                                                {{ form_widget(form.quantity, {'value' : '1' , 'attr': {'class': 'quantity-show' , 'id':'quantity'}}) }}
                                                
                                                
                                                <span class="qty-inner qty-wrapper"> 

                                                  <span class="qty-up btn" style="padding: 0px 14px; font-size: 8px; opacity: 0.6;" title="Increase" data-src="#quantity" onclick="incrementValue()">
                                                    <i class="demo-icon icon-plus"></i>
                                                  </span>

                                                  <span class="qty-down btn" style="padding: 0px 14px; font-size: 8px; opacity: 0.5;" title="Decrease" data-src="#quantity" onclick="decreaseValue()">
                                                    <i class="demo-icon icon-minus"></i>
                                                  </span>

                                                </span>
                                              </div>
                                            </div>

                                            <div class="action-button">
                                              {{ form_widget(form.AddToCart) }}
                                            </div>
                                          </div>
                                        
                                        {{ form_end(form) }}
                                      </div>             


                                      <div class="people-in-cart">
                                          <div class="img-user">
                                              <a href="{{path('cart_index')}}"><img src="{{ asset('front/images/icon-cart.png') }}" alt="Image"/>
                                          </div>
                                          <div class="people-block-text"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div> 
        </div>
      </div>
      </div>
    </div>
  </div>
</div>      

{% endblock %}