{% extends 'frontbase.html.twig' %}

{% block title %}Purchase index{% endblock %}

{% block body %}
    <h1>Purchase index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Total_amount</th>
                <th>Delivery_date</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Deleted_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.id }}</td>
                <td>{{ purchase.totalAmount }}</td>
                <td>{{ purchase.deliveryDate ? purchase.deliveryDate|date('Y-m-d') : '' }}</td>
                <td>{{ purchase.createdAt ? purchase.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ purchase.updatedAt ? purchase.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ purchase.deletedAt ? purchase.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('purchase_show', {'id': purchase.id}) }}">show</a>
                    <a href="{{ path('purchase_edit', {'id': purchase.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('purchase_new') }}">Create new</a>
{% endblock %}
