{% extends 'frontbase.html.twig' %}

{% block title %}Your Order{% endblock %}

{% block body %}
        <div class="banner" data-header>
      <div class="wrap" style="">
          
<a class="logo logo--center" href="">
    
</a>
<h1 class="visually-hidden">
  Customer information
</h1>


      </div>
    </div>

        <button class="order-summary-toggle order-summary-toggle--show shown-if-js" data-trekkie-id="order_summary_toggle" aria-expanded="false" aria-controls="order-summary" data-drawer-toggle="[data-order-summary]">
  <span class="wrap">
    <span class="order-summary-toggle__inner">
      <span class="order-summary-toggle__icon-wrapper">
        <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__icon">
          <path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z" />
        </svg>
      </span>
<!--       <span class="order-summary-toggle__text order-summary-toggle__text--show">
        <span>Show order summary</span>
        <svg width="11" height="6" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000"><path d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z" /></svg>
      </span> -->
<!--       <span class="order-summary-toggle__text order-summary-toggle__text--hide">
        <span>Hide order summary</span>
        <svg width="11" height="7" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000"><path d="M6.138.876L5.642.438l-.496.438L.504 4.972l.992 1.124L6.138 2l-.496.436 3.862 3.408.992-1.122L6.138.876z" /></svg>
      </span> -->
      <span class="order-summary-toggle__total-recap total-recap" data-order-summary-section="toggle-total-recap">
        <span class="total-recap__final-price" data-checkout-payment-due-target="1300">$<?=$params[1]['total']?></span>
      </span>
    </span>
  </span>
</button>




<div class="content" data-content>
    <div class="wrap">
        <div class="main" role="main">
            
        <div class="main__content">
            <div class="step" data-step="contact_information">
                <div class="step__sections">
                    <div class="section section--contact-information">
                        <div class="section__header">
                            <div class="layout-flex layout-flex--tight-vertical layout-flex--loose-horizontal layout-flex--wrap">
                                <h2 id="paymentsummery" style="width: 430px ;padding: 20px 100px; background-color: #c1939e; border-width: 5px; border-style: solid; border-color: white;font-size: 1.2857em;line-height: 1.3em;font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,sans-serif;background-image: linear-gradient(#12c71e,#1294c7);">
                                    CONTACT INFORMATION
                                </h2>
                            </div>
                        </div>

                        <div class="section__content" data-section="customer-information" data-shopify-pay-validate-on-load="false">

                            <div class="control-wrapper form-group has-success m-t-15 m-b-10 row">
                                <label for="email" class="form-control-label text-center col-4 col-form-label text-dark weight-500" style="display:inline;">Email</label>
                                <input class="form-control text-center col-8 form-control form-control-success" style="display:inline;" readonly value="{{ app.user.email }} ">
                            </div>

                            <div class="control-wrapper form-group has-success m-t-15 m-b-10 row">
                                <label for="name" class="form-control-label text-center col-4 col-form-label text-dark weight-500" style="display:inline;">Name</label>
                                <input class="form-control text-center col-8 form-control form-control-success" style="display:inline;" readonly value="{{ app.user.firstname }} {{ app.user.lastname }} ">
                            </div>

                            <div class="fieldset-description" data-buyer-accepts-marketing>
                                <div class="section__content">
                                    <div class="checkbox-wrapper">
                                        
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div> 


                {{ form_start(form) }}
                    
                    <div class="step__sections">
                        <div class="section section--shipping-address">
                            <div class="section__header">
                                <h2 id="paymentsummery" style="width: 430px ;padding: 20px 120px; background-color: #c1939e; border-style: solid; border-color: white;font-size: 1.2857em;line-height: 1.3em;font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,sans-serif;background-image: linear-gradient(#12c71e,#1294c7);">
                                    SHIPPING ADDRESS
                                </h2>
                            </div>
                            <div class="section__content">
                                <div class="fieldset" >
                                    <div class="my-custom-class-for-errors">
                                        {{ form_errors(form) }}
                                    </div>

                                    

                                    <div class="form-group has-success m-t-15 m-b-10 row">
                                        {{ form_label(form.delivery_date, 'Delivery Date', { 'label_attr': {'class': 'form-control-label text-center col-4 col-form-label text-dark weight-500'} }) }}
                                        <div class="col-8">
                                        {{ form_widget(form.delivery_date, {'attr': {'placeholder':  "now"|date("m/d/Y") }}) }}
                                        </div>
                                    </div>

                                    <div class="form-group has-success m-t-15 m-b-10 row">
                                        {{ form_label(form.address.house_no, 'House No', { 'label_attr': {'class': 'form-control-label text-center col-4 col-form-label text-dark weight-500'} }) }}
                                        <div class="col-8">
                                        {{ form_widget(form.address.house_no, {'attr': {'value' : address[0].house_no ,'class': 'form-control form-control-success' ,'placeholder': 'House No'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group has-success m-t-15 m-b-10 row">
                                        {{ form_label(form.address.street, 'Street', { 'label_attr': {'class': 'form-control-label text-center col-4 col-form-label text-dark weight-500'} }) }}
                                        <div class="col-8">
                                        {{ form_widget(form.address.street, {'attr': {'value' :  address[0].street  ,'class': 'form-control form-control-success' ,'placeholder': 'Street'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group has-success m-t-15 m-b-10 row">
                                        {{ form_label(form.address.city, 'City', { 'label_attr': {'class': 'form-control-label text-center col-4 col-form-label text-dark weight-500'} }) }}
                                        <div class="col-8">
                                        {{ form_widget(form.address.city, {'attr': {'value' :  address[0].city  ,'class': 'form-control form-control-success' ,'placeholder': 'City'}}) }}
                                        </div>
                                    </div>

                                    {# <div class="form-group has-success m-t-15 m-b-10 row">
                                        <div class="col-10"></div>
                                        <div class="col-8">
                                            {{ form_widget(form.purchase) }}
                                        </div>
                                    </div> #}

                                </div>
                            </div>
                        </div>
                    </div>
                {# end of first form #}
                {# {{ form_end(form) }} #}


                    <a class="step__footer__previous-link" data-trekkie-id="previous_step_link" href="{{path('cart_index')}}">
                        <svg focusable="false" aria-hidden="true" class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link__icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                        <path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4"/>
                        </svg>
                        <span class="step__footer__previous-link-content">Return to cart</span>
                    </a>

                </div>
            </div>
        </div>
    



   
        <div class="sidebar" role="complementary" style="margin-top: 0px;">
          <div class="sidebar__header">
            <a class="logo logo--center" href="https://store...com">
                <img alt="Online Store" class="logo__image logo__image--small" src="" />
            </a>
            <h1 class="visually-hidden">
              Customer information
            </h1>
          </div>
          <div class="sidebar__content">
            <div id="order-summary" class="order-summary order-summary--is-collapsed" data-order-summary>
              <h1></h1>

              <div class="order-summary__sections">
                <div class="order-summary__section order-summary__section--total-lines" data-order-summary-section="payment-lines">
                  <table class="total-line-table">
                    <caption class="visually-hidden">Cost summary</caption>
                    {# <style type="text/css">
                      input[type="radio"]{
                          -webkit-appearance: radio !important;
                          display: inline !important ;
                          box-sizing: border-box !important;
                          padding:5;
                          height:20px;
                          width:50px;

                      }
                    </style> #}

                    <div class="">
                        <h2 id="paymentsummery" style="width: 380px ;padding: 20px 120px; background-color: #c1939e; border-style: solid; border-width: 5px; border-color: white;font-size: 1.2857em;line-height: 1.3em;font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,sans-serif;background-image: linear-gradient(#12c71e,#1294c7);">
                            TRUCK ROUTE
                        </h2>
                        <p>Select the suitable truck route for you by referring the following pre-defined map routes</p>

                        {% for key1,store in stores %}
                          <div class="" >
                              <p class="total-line__name" scope="row" style="padding: 5px; font-weight:800; margin:0px;"><i class="fas fa-store"></i> {{store[0].name}}, {{store[0].street}}, {{store[0].city}}</p>
                              <div class="" style="border-color:white; padding: 0px 25px 5px 50px;">
                                {% for key,route in store[1] %}
                                  <div style="padding:0 0 5px 0;">
                                    <input type="radio" name="map" value="{{route.id}}"><span class="order-summary__emphasis"><a target="_blank" href="https://{{route.map}}" style="padding:5px 0;"><i class="fas fa-road"></i> {{route.name}}</a></span><br>
                                  </div>
                                  
                                {% endfor %}
                              </div>
                            </div>
                        {% endfor %}

                           

                          
                    </div>
                    
                    {# <tfoot class="total-line-table__footer">
                      <tr class="total-line">
                        <th class="total-line__name payment-due-label" scope="row" style="padding:50px 10px;">
                          <i class="demo-icon icon-handy-cart" style="font-size: 15px; padding: 0px 20px 0 0;"></i>
                          <span class="payment-due-label__total">Total</span>
                        </th>
                        <td class="total-line__price payment-due" style="border-color: white; padding:50px 0px;">
                            <span class="payment-due__currency">USD</span>
                          <span class="payment-due__price" data-checkout-payment-due-target="1300">
                            total price
                          </span>
                        </td>
                      </tr>
                    </tfoot> #}
                  </table>
                  <div class="form-group has-success m-t-15 m-b-10 row total-line">
                        {{ form_label(form.truck_route, 'Truck route', { 'label_attr': {'class': 'form-control-label text-center col-4 col-form-label text-dark weight-500'} }) }}
                        <div class="col-8">
                        {{ form_widget(form.truck_route, {'attr': {'class': 'form-control form-control-success' ,'placeholder': 'City'}}) }}
                        </div>
                    </div> 
                </div>
              </div>
            </div>


            <div id="partial-icon-symbols" class="icon-symbols" data-tg-refresh="partial-icon-symbols" data-tg-refresh-always="true"><svg xmlns="http://www.w3.org/2000/svg"><symbol id="caret-down"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M0 3h10L5 8"/></svg></symbol>
                <symbol id="powered-by-google"></symbol>
                <symbol id="close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.1 2.3L13.7.9 8 6.6 2.3.9.9 2.3 6.6 8 .9 13.7l1.4 1.4L8 9.4l5.7 5.7 1.4-1.4L9.4 8"/></svg></symbol>
                <symbol id="spinner-button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M20 10c0 5.523-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0v2c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8h2z"/></svg></symbol>
                <symbol id="chevron-right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M2 1l1-1 4 4 1 1-1 1-4 4-1-1 4-4"/></svg></symbol>
                <symbol id="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M10.817 7.624l-4.375 4.2c-.245.235-.64.235-.884 0l-4.375-4.2c-.244-.234-.244-.614 0-.848.245-.235.64-.235.884 0L5.375 9.95V.6c0-.332.28-.6.625-.6s.625.268.625.6v9.35l3.308-3.174c.122-.117.282-.176.442-.176.16 0 .32.06.442.176.244.234.244.614 0 .848"/></svg></symbol>
                <symbol id="arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M16 8.1l-8.1 8.1-1.1-1.1L13 8.9H0V7.3h13L6.8 1.1 7.9 0 16 8.1z"/></svg></symbol>
                <symbol id="spinner-small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M32 16c0 8.837-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0v2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14h2z"/></svg></symbol></svg></div>
            </div>
        </div> 
        {# end of sidebar #}

        <div class="main__footer Container" style="width:500px; float:right"> 
          <center>
            <div class="form-group has-success m-t-15 m-b-10 row">
                <div class="col-10"></div>
                <div class="col-8">
                    {{ form_widget(form.purchase) }}
                </div>
            </div>
          </center>
        </div>
        {{ form_end(form) }}

      </div>
    </div>
  </div>
</div>
{% endblock %}
