{% extends 'base.html.twig' %}

{% block title %}StoreManager index{% endblock %}

{% block body %}
    <h1>StoreManager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NIC</th>
                <th>Service_no</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Deleted_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for store_manager in store_managers %}
            <tr>
                <td>{{ store_manager.id }}</td>
                <td>{{ store_manager.NIC }}</td>
                <td>{{ store_manager.serviceNo }}</td>
                <td>{{ store_manager.createdAt ? store_manager.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ store_manager.updatedAt ? store_manager.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ store_manager.deletedAt ? store_manager.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('store_manager_show', {'id': store_manager.id}) }}">show</a>
                    <a href="{{ path('store_manager_edit', {'id': store_manager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('store_manager_new') }}">Create new</a>
{% endblock %}
