
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('back/images/favicon.png') }}">
    <title>{% block title %}Expeditor Admin{% endblock %}</title>
    <link href="{{ asset('back/css/bootstrap4.2.1.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/css/perfect-scrollbar.css') }}" rel="stylesheet">

    <!-- This page CSS -->
    
    <!-- flot chart css -->
    <link href="{{ asset('back/css/float-chart.css') }}" rel="stylesheet">
    
    <!-- chartist CSS -->
    <link href="{{ asset('back/css/morris.css') }}" rel="stylesheet">
    
    <!-- page css -->
    <link href="{{ asset('back/css/easy-pie-chart.css') }}" rel="stylesheet">
    
    <!--c3 CSS -->
    <link href="{{ asset('back/css/c3.min.css') }}" rel="stylesheet">
    
    <!--Toaster Popup message CSS -->
    <link href="{{ asset('back/css/jquery.toast.css') }}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="{{ asset('back/css/master-stylesheet.css') }}" rel="stylesheet">
    
    <!-- Dashboard 1 Page CSS -->
    <link href="{{ asset('back/css/dashboard1.css') }}" rel="stylesheet">
    
    <!-- You can change the theme colors from here -->
    <link href="{{ asset('back/css/blue-dark.css') }}" id="theme" rel="stylesheet">
    <link href="{{ asset('back/css/style2.css') }}"   rel="stylesheet">

    <link href="{{ asset('back/css/jquery-confirm.min.css') }}"   rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{{ asset('back/css/jsgrid.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/css/jsgrid-theme.min.css') }}" rel="stylesheet">

    <style type="text/css">
        th,td {
            text-align:center
        }

        thead{
            background: #d3e0fc;
        }
        .plus-icon {
            background: #025a83;
            width: 22px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            display: inline-block;
            color: #fff!important;
            border-radius: 100px;
            margin-right: 35px;
        }
        .plus-icon:hover {
            background: #002661;
            color: #fff;
        }
    </style>
    
    {% block stylesheets %}{% endblock %}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== --> 
    <!-- Preloader - style you can find in spinners.css --> 
    <!-- ============================================================== --> 
    <div class="preloader">
        <div class="loader">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- ============================================================== --> 
    <!-- Main wrapper - style you can find in pages.scss --> 
    <!-- ============================================================== -->
    <div id="main-wrapper"> 
  
        <!-- ============================================================== --> 
        <!-- Topbar header - style you can find in pages.scss --> 
        <!-- ============================================================== -->
        <header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light"> 
      <!-- ============================================================== --> 
      <!-- Logo --> 
      <!-- ============================================================== -->
      <div class="navbar-header"> <a class="navbar-brand" href="index.html"> 
        <!-- Logo icon --><b> 
        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //--> 
        <!-- Dark Logo icon --> 
        <img src="{{ asset('back/images/logo-icon.png') }}" alt="homepage" class="dark-logo" /> 
        <!-- Light Logo icon --> 
        <img src="{{ asset('back/images/logo-light-icon.png') }}" alt="homepage" class="light-logo" style="visibility: hidden;"/> </b> 
        <!--End Logo icon --> 
        <!-- Logo text --><span> 
        <!-- dark Logo text --> 
        <img src="{{ asset('back/images/logo-text.png') }}" alt="homepage" class="dark-logo" /> 
        <!-- Light Logo text --> 
        <img src="{{ asset('front/images/logo.png') }}" class="light-logo" alt="homepage" /></span> </a> </div>
      <!-- ============================================================== --> 
      <!-- End Logo --> 
      <!-- ============================================================== -->
      <div class="navbar-collapse"> 
        <!-- ============================================================== --> 
        <!-- toggle and nav items --> 
        <!-- ============================================================== -->
        <ul class="navbar-nav mr-auto">
          <!-- This is  -->
          <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
          <li class="nav-item hidden-sm-down"><span></span></li>
        </ul>
        <!-- ============================================================== --> 
        <!-- User profile and search --> 
        <!-- ============================================================== -->
        <ul class="navbar-nav my-lg-0">         
          <!-- ============================================================== --> 
          <!-- Comment --> 
          <!-- ============================================================== -->
          {# <li class="nav-item"> 
            <a class="nav-link" href="{{ path('truck_trip_index') }}" aria-haspopup="true" aria-expanded="false"> 
              <i class="fa fa-truck" aria-hidden="true"></i>              
            </a>           
          </li> #}
          <!-- ============================================================== --> 
          <!-- End Comment --> 
          <!-- ============================================================== --> 
          
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <!-- ============================================================== --> 
          <!-- Profile --> 
          <!-- ============================================================== -->
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('back/images/general-user.png') }}" alt="user" class="profile-pic" /></a>
            <div class="dropdown-menu dropdown-menu-right animated fadeIn">
              <ul class="dropdown-user">
                <li>
                  <div class="dw-user-box">
                    <div class="u-img">
                      <img src="{{ asset('back/images/general-user.png') }}" alt="user">
                      
                    </div>
                    <div class="u-text">
                      <h4>{{ app.user.firstname }} {{ app.user.lastname }} </h4>
                      <p class="text-muted">{{ app.user.email }}</p>
                      <a href="{{ path('app_logout') }}"><i class="fa fa-power-off"></i> Logout</a></div>
                  </div>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('app_logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="mdi mdi-menu"></i>
              </a>
          </li>
          {% else %}
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-User"></i></a>
            <div class="dropdown-menu dropdown-menu-right animated fadeIn">
              <ul class="dropdown-user">
                <li><a href="{{ path('back_login') }}"><i class="fa fa-sign-in"></i> Login</a></li>
                <li><a href="{{ path('back_login') }}"><i class="fa fa-user-plus"></i> Register</a></li>
              </ul>
            </div>
          </li>
          {% endif %}
          
           
        </ul>
      </div>
    </nav>
  </header>
  <!-- ============================================================== --> 
  <!-- End Topbar header --> 
  <!-- ============================================================== --> 
  
  <!-- ============================================================== --> 
  <!-- Left Sidebar - style you can find in sidebar.scss  --> 
  <!-- ============================================================== -->
  <aside class="left-sidebar"> 
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar"> 
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li> 
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="mdi mdi-apps mr-10"></i>
                <span class="hide-menu">USERS</span>
              </a>
              <ul aria-expanded="true" class="collapse in">
                <li>
                  <a href="{{path('store_manager_index')}}" aria-expanded="false">
                    STORE MANAGERS
                  </a>
                </li>
                <li>
                  <a href="{{path('store_manager_index')}}" aria-expanded="false">
                    CHAIN MANAGERS
                  </a>
                </li>
              </ul>
          </li>

          <li> 
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="mdi mdi-apps mr-10"></i>
                <span class="hide-menu">STORE</span>
              </a>
              <ul aria-expanded="true" class="collapse in">
                <li>
                  <a href="{{path('store_index')}}" aria-expanded="false">
                    STORES
                  </a>
                </li>
                <li>
                  <a href="{{path('driver_index')}}" aria-expanded="false">
                    DRIVERS
                  </a>
                </li>
                <li>
                  <a href="{{path('driver_assistant_index')}}" aria-expanded="false">
                    DRIVER ASSISTANTS
                  </a>
                </li>
                <li>
                  <a href="{{path('truck_index')}}" aria-expanded="false">
                    TRUCKS
                  </a>
                </li>
              </ul>
          </li>

          <li> 
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="mdi mdi-apps mr-10"></i>
                <span class="hide-menu">TRUCKS</span>
              </a>
              <ul aria-expanded="true" class="collapse in">
                <li>
                  <a href="{{path('truck_index')}}" aria-expanded="false">
                    TRUCKS
                  </a>
                </li>
                <li>
                  <a href="{{path('truck_trip_index')}}" aria-expanded="false">
                    TRUCK TRIPS
                  </a>
                </li>
                <li>
                  <a href="{{path('truck_route_index')}}" aria-expanded="false">
                    TRUCK ROUTES
                  </a>
                </li>                
              </ul>
          </li>

          <li> 
            <a class="has-arrow waves-effect waves-dark" href="{{path('report_quarterly_sales')}}" aria-expanded="false">
              <i class="mdi mdi-account-settings-variant mr-10"></i>
              <span class="hide-menu">QUARTERLY SALES</span>
            </a>
          </li>

          <li> 
            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
              <i class="mdi mdi-account-settings-variant mr-10"></i>
              <span class="hide-menu">NOT ASSIGNED PURCHASES</span>
            </a>
          </li>

          <li> 
            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
              <i class="mdi mdi-account-settings-variant mr-10"></i>
              <span class="hide-menu">CUSTOMER ORDER SALES</span>
            </a>
          </li>
         
        </ul>
      </nav>
      <!-- End Sidebar navigation --> 
    </div>
    <!-- End Sidebar scroll--> 
  </aside>
  <!-- ============================================================== -->     
  <!-- ============================================================== --> 
  <!-- Page wrapper  --> 
  <!-- ============================================================== -->
  <div class="page-wrapper">

      <!-- ============================================================== --> 
      <!-- Container fluid  --> 
      <!-- ============================================================== -->



    {# insert div container fluid #}


    {% block content %}

    {% endblock content %}



                <!-- ============================================================== --> 
                <!-- End Container fluid  --> 
                <!-- ============================================================== --> 
                <!-- ============================================================== --> 
                <!-- footer --> 
                <!-- ============================================================== -->
                <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 font-12">Copyrights 2019. Minion Admin. All Rights Reserved</div>
                            <div class="col-md-6 col-sm-6 text-right font-12">Designed & Developed by <a href="http://www.srgit.com/" target="_blank" class="text-themecolor">SRGIT</a></div>
                        </div>
                    </div>
                </footer>
                <!-- ============================================================== --> 
                <!-- End footer --> 
                <!-- ============================================================== --> 
            </div>
            <!-- ============================================================== --> 
            <!-- End Page wrapper  --> 
            <!-- ============================================================== --> 
        </div>
        <!-- ============================================================== --> 
        <!-- End Wrapper --> 
        <!-- ============================================================== --> 

    <!-- ============================================================== --> 
    <!-- All Jquery --> 
    <!-- ============================================================== --> 
    <script src="{{ asset('back/js/jquery3.2.0.min.js') }}"></script> 
    <!-- Bootstrap popper Core JavaScript --> 
    <script src="{{ asset('back/js/popper.min.js') }}"></script> 
    <script src="{{ asset('back/js/bootstrap4.2.1.min.js') }}"></script> 
    <!-- slimscrollbar scrollbar JavaScript --> 
    <script src="{{ asset('back/js/perfect-scrollbar.jquery.min.js') }}"></script> 
    <!--Wave Effects --> 
    <script src="{{ asset('back/js/waves.js') }}"></script> 
    <!--Menu sidebar --> 
    <script src="{{ asset('back/js/sidebarmenu.js') }}"></script> 
    <!--Custom JavaScript --> 
    <script src="{{ asset('back/js/custom.min.js') }}"></script> 
    <!--sparkline--> 
    <script src="{{ asset('back/js/jquery.sparkline.min.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.charts-sparkline.js') }}"></script> 
    <!--Morris JavaScript --> 
    <script src="{{ asset('back/js/raphael-min.js') }}"></script> 
    <script src="{{ asset('back/js/morris.js') }}"></script> 


    <!--jquery knob --> 
    <script src="{{ asset('back/js/jquery.knob.js') }}"></script> 

    <!--Custom JavaScript --> 
    <script src="{{ asset('back/js/excanvas.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.flot.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.flot.pie.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.flot.time.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.flot.stack.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.flot.crosshair.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.flot.tooltip.min.js') }}"></script> 
    <script src="{{ asset('back/js/helpdesk.js') }}"></script> 
    {# <div class="flotTip" style="display:none; position: absolute;"></div> #}
    <script src="{{ asset('back/js/chart.min.js') }}"></script>
    <script src="{{ asset('back/js/helpdesk-chartjs.js') }}"></script> 

    <!-- EASY PIE CHART JS -->
    <script src="{{ asset('back/js/jquery.easypiechart.min.js') }}"></script>
    <script src="{{ asset('back/js/easy-pie-chart.init.js') }}"></script>
    
	  <!-- pienty -->
	  <script src="{{ asset('back/js/jquery.peity.min.js') }}"></script>
    <script src="{{ asset('back/js/jquery.peity.init.js') }}"></script>

    <script src="{{ asset('back/js/jquery-confirm.min.js') }}"></script>
    <!-- ============================================================== --> 
    <!-- Style switcher --> 
    <!-- ============================================================== --> 
    <script src="{{ asset('back/js/jQuery.style.switcher.js') }}"></script>
    <script src="{{ asset('back/js/jquery-confirm.min.js') }}"></script>
    {% block scripts %}{% endblock %}


</body>
</html>
