
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('back/images/favicon.png') }}">
    <title>{% block title %}Expeditor Admin{% endblock %}</title>
    <link href="{{ asset('back/css/bootstrap4.2.1.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/css/perfect-scrollbar.css') }}" rel="stylesheet">

    <!-- This page CSS -->
    
    <!-- flot chart css -->
    <link href="{{ asset('back/css/float-chart.css') }}" rel="stylesheet">
    
    <!-- chartist CSS -->
    <link href="{{ asset('back/css/morris.css') }}" rel="stylesheet">
    
    <!-- page css -->
    <link href="{{ asset('back/css/easy-pie-chart.css') }}" rel="stylesheet">
    
    <!--c3 CSS -->
    <link href="{{ asset('back/css/c3.min.css') }}" rel="stylesheet">
    
    <!--Toaster Popup message CSS -->
    <link href="{{ asset('back/css/jquery.toast.css') }}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="{{ asset('back/css/master-stylesheet.css') }}" rel="stylesheet">
    
    <!-- Dashboard 1 Page CSS -->
    <link href="{{ asset('back/css/dashboard1.css') }}" rel="stylesheet">
    
    <!-- You can change the theme colors from here -->
    <link href="{{ asset('back/css/blue-dark.css') }}" id="theme" rel="stylesheet">
    <link href="{{ asset('back/css/style2.css') }}"   rel="stylesheet">

    <link href="{{ asset('back/css/jquery-confirm.min.css') }}"   rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{{ asset('back/css/jsgrid.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back/css/jsgrid-theme.min.css') }}" rel="stylesheet">

    <style type="text/css">
        th,td {
            text-align:center
        }

        thead{
            background: #d3e0fc;
        }
        .plus-icon {
            background: #025a83;
            width: 22px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            display: inline-block;
            color: #fff!important;
            border-radius: 100px;
            margin-right: 35px;
        }
        .plus-icon:hover {
            background: #002661;
            color: #fff;
        }
    </style>
    
    {% block stylesheets %}{% endblock %}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== --> 
    <!-- Preloader - style you can find in spinners.css --> 
    <!-- ============================================================== --> 
    <div class="preloader">
        <div class="loader">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- ============================================================== --> 
    <!-- Main wrapper - style you can find in pages.scss --> 
    <!-- ============================================================== -->
    <div id="main-wrapper"> 
  
        <!-- ============================================================== --> 
        <!-- Topbar header - style you can find in pages.scss --> 
        <!-- ============================================================== -->
        <header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light"> 
      <!-- ============================================================== --> 
      <!-- Logo --> 
      <!-- ============================================================== -->
      <div class="navbar-header"> <a class="navbar-brand" href="index.html"> 
        <!-- Logo icon --><b> 
        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //--> 
        <!-- Dark Logo icon --> 
        <img src="{{ asset('back/images/logo-icon.png') }}" alt="homepage" class="dark-logo" /> 
        <!-- Light Logo icon --> 
        <img src="{{ asset('back/images/logo-light-icon.png') }}" alt="homepage" class="light-logo" /> </b> 
        <!--End Logo icon --> 
        <!-- Logo text --><span> 
        <!-- dark Logo text --> 
        <img src="{{ asset('back/images/logo-text.png') }}" alt="homepage" class="dark-logo" /> 
        <!-- Light Logo text --> 
        <img src="{{ asset('back/images/logo-light-text.png') }}" class="light-logo" alt="homepage" /></span> </a> </div>
      <!-- ============================================================== --> 
      <!-- End Logo --> 
      <!-- ============================================================== -->
      <div class="navbar-collapse"> 
        <!-- ============================================================== --> 
        <!-- toggle and nav items --> 
        <!-- ============================================================== -->
        <ul class="navbar-nav mr-auto">
          <!-- This is  -->
          <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
          <li class="nav-item hidden-sm-down"><span></span></li>
        </ul>
        <!-- ============================================================== --> 
        <!-- User profile and search --> 
        <!-- ============================================================== -->
        <ul class="navbar-nav my-lg-0">
          <!-- ============================================================== --> 
          <!-- Search --> 
          <!-- ============================================================== -->
          <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="icon-Magnifi-Glass2"></i></a>
            <form class="app-search">
              <input type="text" class="form-control" placeholder="Search & enter">
              <a class="srh-btn"><i class="ti-close"></i></a>
            </form>
          </li>
          <!-- ============================================================== --> 
          <!-- Comment --> 
          <!-- ============================================================== -->
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-Bell"></i>
            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right mailbox animated fadeIn">
              <ul>
                <li>
                  <div class="drop-title">Notifications</div>
                </li>
                <li>
                  <div class="message-center"> 
                    <!-- Message --> 
                    <a href="#">
                    <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                    <div class="mail-contnet">
                      <h5>Launch Admin</h5>
                      <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                    </a> 
                    <!-- Message --> 
                    <a href="#">
                    <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                    <div class="mail-contnet">
                      <h5>Event today</h5>
                      <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div>
                    </a> 
                    <!-- Message --> 
                    <a href="#">
                    <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                    <div class="mail-contnet">
                      <h5>Settings</h5>
                      <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div>
                    </a> 
                    <!-- Message --> 
                    <a href="#">
                    <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                    <div class="mail-contnet">
                      <h5>Mason Hudson</h5>
                      <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                    </a> </div>
                </li>
                <li> <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a> </li>
              </ul>
            </div>
          </li>
          <!-- ============================================================== --> 
          <!-- End Comment --> 
          <!-- ============================================================== --> 
          <!-- ============================================================== --> 
          <!-- Messages --> 
          <!-- ============================================================== -->
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-Mail"></i>
            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
            </a>
            <div class="dropdown-menu mailbox dropdown-menu-right animated fadeIn" aria-labelledby="2">
              <ul>
                <li>
                  <div class="drop-title">You have 4 new messages</div>
                </li>
                <li>
                  <div class="message-center"> 
                    <!-- Message --> 
                    <a href="#">
                    <div class="user-img"> <img src="{{ asset('back/images/users/1.jpg') }}" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Mason Hudson</h5>
                      <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
                    </a> 
                    <!-- Message --> 
                    <a href="#">
                    <div class="user-img"> <img src="{{ asset('back/images/users/2.jpg') }}" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Pepper Hensen</h5>
                      <span class="mail-desc">Neque porro quisquam est!</span> <span class="time">9:10 AM</span> </div>
                    </a> 
                    <!-- Message --> 
                    <a href="#">
                    <div class="user-img"> <img src="{{ asset('back/images/users/3.jpg') }}" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Steve Carter</h5>
                      <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> </div>
                    </a> 
                    <!-- Message --> 
                    <a href="#">
                    <div class="user-img"> <img src="{{ asset('back/images/users/4.jpg') }}" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Mason Hudson</h5>
                      <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                    </a> </div>
                </li>
                <li> <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a> </li>
              </ul>
            </div>
          </li>
          <!-- ============================================================== --> 
          <!-- End Messages --> 
          <!-- ============================================================== --> 
          

          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <!-- ============================================================== --> 
          <!-- Profile --> 
          <!-- ============================================================== -->
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('back/images/general-user.png') }}" alt="user" class="profile-pic" /></a>
            <div class="dropdown-menu dropdown-menu-right animated fadeIn">
              <ul class="dropdown-user">
                <li>
                  <div class="dw-user-box">
                    <div class="u-img"><img src="{{ asset('back/images/general-user.png') }}" alt="user"></div>
                    <div class="u-text">
                      <h4>{{ app.user.firstname }} {{ app.user.lastname }} </h4>
                      <p class="text-muted">{{ app.user.email }}</p>
                      <a href="pages-profile.html" class="btn btn-rounded btn-primary btn-sm">View Profile</a></div>
                  </div>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('app_logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>
              </ul>
            </div>
          </li>
          {% else %}
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-User"></i></a>
            <div class="dropdown-menu dropdown-menu-right animated fadeIn">
              <ul class="dropdown-user">
                <li><a href="{{ path('back_login') }}"><i class="fa fa-sign-in"></i> Login</a></li>
                <li><a href="{{ path('back_login') }}"><i class="fa fa-user-plus"></i> Register</a></li>
              </ul>
            </div>
          </li>
          {% endif %}


          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-gear font-15"></i>
            <div class="notify"> </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right mailbox animated fadeIn">
              <ul>
                <li>
                  <div class="drop-title">Notifications</div>
                </li>
                <li>
                  <div class="message-center"> 
                    <!-- Message --> 
                    <a href="#">
                    <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                    <div class="mail-contnet">
                      <h5>Launch Admin</h5>
                      <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                    </a> 
                    <!-- Message --> 
                    <a href="#">
                    <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                    <div class="mail-contnet">
                      <h5>Event today</h5>
                      <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div>
                    </a> 
                    <!-- Message --> 
                    <a href="#">
                    <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                    <div class="mail-contnet">
                      <h5>Settings</h5>
                      <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div>
                    </a> 
                    <!-- Message --> 
                    <a href="#">
                    <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                    <div class="mail-contnet">
                      <h5>Mason Hudson</h5>
                      <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                    </a> </div>
                </li>
                <li> <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a> </li>
              </ul>
            </div>
          </li>
          
<!-- ============================================================== --> 
<!-- mega menu --> 
<!-- ============================================================== -->
<li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-menu"></i></a>
<div class="dropdown-menu animated fadeIn">
<ul class="mega-dropdown-menu drop-mega-menu">
<li> <a class="dropdown-item" href="index.html"><i class="mdi mdi-chevron-right mr-10"></i> Dashboard Analytical</a></li> <a class="dropdown-item" href="../main/index.html"><i class="mdi mdi-chevron-right mr-10"></i>Dashboard Monitoring</a> <a class="dropdown-item" href="../dark/index.html"><i class="mdi mdi-chevron-right mr-10"></i> Dashboard Projects</a> <a class="dropdown-item"  href="../rtl/index.html"><i class="mdi mdi-chevron-right mr-10"></i> Dashboard RTL</a> <a class="dropdown-item" href="ecommerce-dashboard.html"><i class="mdi mdi-chevron-right mr-10"></i> Ecommerce rd
board</a> <a class="dropdown-item" href="ecommerce-products-catalogue.html"><i class="mdi mdi-chevron-right mr-10"></i> Product Catalog </a> </li>
<li> <a class="dropdown-item" href="am-charts.html"><i class="mdi mdi-chevron-right mr-10"></i> AM Charts</a> <a class="dropdown-item" href="e-charts.html"><i class="mdi mdi-chevron-right mr-10"></i> E-Charts</a> <a class="dropdown-item" href="charts-flot.html"><i class="mdi mdi-chevron-right mr-10"></i> Flot Charts</a> <a class="dropdown-item" href="charts-sparkline.html"><i class="mdi mdi-chevron-right mr-10"></i> Sparkline Charts</a> <a class="dropdown-item" href="charts-knob.html"><i class="mdi mdi-chevron-right mr-10"></i> Knob Charts</a> <a class="dropdown-item" href="map-google.html"><i class="mdi mdi-chevron-right mr-10"></i> Google Maps</a> </li>
<li> <a class="dropdown-item" href="form-layout.html"><i class="mdi mdi-chevron-right mr-10"></i> Form Layouts</a> <a class="dropdown-item" href="form-pickers.html"><i class="mdi mdi-chevron-right mr-10"></i> Form Pickers & Editors</a> <a class="dropdown-item" href="form-select.html"><i class="mdi mdi-chevron-right mr-10"></i> Select Forms</a> <a class="dropdown-item" href="checkbox-and-radios.html"><i class="mdi mdi-chevron-right mr-10"></i> Checkbox & Radios</a> <a class="dropdown-item" href="authentication-profile.html"><i class="mdi mdi-chevron-right mr-10"></i>Profile</a> <a class="dropdown-item" href="authentication-account-settings.html"><i class="mdi mdi-chevron-right mr-10"></i>Account Settings</a> </li>
<li> <a class="dropdown-item" href="basic-table.html"><i class="mdi mdi-chevron-right mr-10"></i> Basic Table</a> <a class="dropdown-item" href="data-table.html"><i class="mdi mdi-chevron-right mr-10"></i> Data Table</a> <a class="dropdown-item" href="js-grid-table.html"><i class="mdi mdi-chevron-right mr-10"></i> JS Grid Table</a> <a class="dropdown-item" href="editable-table.html"><i class="mdi mdi-chevron-right mr-10"></i> Editable Table</a> <a class="dropdown-item" href="error-403.html"><i class="mdi mdi-chevron-right mr-10"></i> Error 403</a> <a class="dropdown-item" href="error-404.html"><i class="mdi mdi-chevron-right mr-10"></i> Error 404</a> </li>
</ul>
</div>
</li>
<!-- ============================================================== --> 
<!-- End mega menu --> 
<!-- ============================================================== -->
          
        </ul>
      </div>
    </nav>
  </header>
  <!-- ============================================================== --> 
  <!-- End Topbar header --> 
  <!-- ============================================================== --> 
  
  <!-- ============================================================== --> 
  <!-- Left Sidebar - style you can find in sidebar.scss  --> 
  <!-- ============================================================== -->
  <aside class="left-sidebar"> 
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar"> 
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li class="nav-small-cap">Basic UI</li>
          <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-apps mr-10"></i><span class="hide-menu">Dashboard Layouts</span></a>
             <ul aria-expanded="false" class="collapse">
			 <li> <a class="has-arrow" href="#" aria-expanded="false">Dashboard Styles</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a href="../horizontal/index.html">Dashboard Boxed</a></li>
<li><a href="../dark/index.html">Dashboard Dark</a></li>
<li><a href="../main/index.html">Dashboard Sidebar</a></li>
<li><a href="../rtl/index.html">Dashboard RTL</a></li>
                                    </ul>
                                </li>
              <li><a href="../horizontal/index.html">Dashboard Analytical</a></li>
              <li><a href="../main/index.html">Dashboard Monitoring</a></li>
              <li><a href="../dark/index.html">Dashboard Projects</a></li>
			  <li><a href="../horizontal/index-helpdesk.html">Dashboard Helpdesk</a></li>
            </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-settings-variant mr-10"></i><span class="hide-menu">Apps</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="chats-app.html">Chat App</a></li>
<li><a href="calender-app.html">Calender App</a></li>
              <li><a href="support-tickets.html">Support Tickets</a></li>
            </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"> <i class="ti-bar-chart mr-10"></i><span class="hide-menu">Charts</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="am-charts.html">AM Charts</a></li>
              <li><a href="e-charts.html">E-Charts</a></li>
              <li><a href="charts-flot.html">Flot Charts</a></li>
              <li><a href="charts-sparkline.html">Sparkline Charts</a></li>
<li><a href="charts-chartjs.html">Charts JS</a></li>
              <li><a href="charts-knob.html">Knob Charts</a></li>
            </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"> <i class="ti-map-alt mr-10"></i><span class="hide-menu">Maps</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="map-google.html">Google Maps</a></li>
              <li><a href="map-vector.html">Vector Maps</a></li>
            </ul>
          </li>
          <li class="nav-small-cap">Admin UI</li>
          <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"> <i class="icon-Duplicate-Window mr-10"></i> <span class="hide-menu">Forms</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="form-layout.html">Form Layouts</a></li>
              <li><a href="form-pickers.html">Form Pickers & Editors</a></li>
              <li><a href="form-select.html">Select Forms</a></li>
<li><a href="form-wizard.html">Form Wizard</a></li>
              <li><a href="checkbox-and-radios.html">Checkbox & Radios</a></li>
            </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"> <i class="mdi mdi-table-large mr-10"></i><span class="hide-menu">Tables</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="basic-table.html">Basic Table</a></li>
              <li><a href="data-table.html">Data Table</a></li>
              <li><a href="js-grid-table.html">JS Grid Table</a></li>
              <li><a href="editable-table.html">Editable Table</a></li>
            </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"> <i class="mdi mdi-cellphone-android mr-10"></i> <span class="hide-menu">Widgets</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="dragula.html">Dragula</a></li>
              <li><a href="context-menu.html">Context Menu</a></li>
              <li><a href="sliders.html">Sliders</a></li>
              <li><a href="carousel.html">Carousel</a></li>
              <li><a href="clipboard.html">Clipboard</a></li>
              <li><a href="cards.html">Cards</a></li>
              <li><a href="loaders.html">Loaders</a></li>
            </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"> <i class="mdi mdi-cart-outline mr-10"></i><span class="hide-menu">Ecommerce</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="ecommerce-dashboard.html">Dashboard</a></li>
              <li><a href="ecommerce-orders.html">Order Status</a></li>
              <li><a href="ecommerce-products-catalogue.html">Products Catalogue</a></li>
<li><a href="ecommerce-product-list.html">Product List</a></li>
              <li><a href="ecommerce-products-details.html">Product Details</a></li>
              <li><a href="ecommerce-add-edit-products.html">Add/Edit Products</a></li>
              <li><a href="ecommerce-view-customers.html">View Customers</a></li>
              <li><a href="ecommerce-invoice.html">Invoice</a></li>
              <li><a href="ecommerce-shipments.html">Shipments</a></li>
              <li><a href="ecommerce-reviews.html">Reviews</a></li>
            </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"> <i class="mdi mdi-chart-gantt mr-10"></i><span class="hide-menu">Bootstrap Elements</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="badges-and-buttons.html">Badges & Buttons</a></li>
              <li><a href="pagination-and-popovers.html">Pagination & Popovers</a></li>
              <li><a href="typography-and-grids.html">Typography & Grids</a></li>
              <li><a href="progress-bars.html">Progress Bars</a></li>
            </ul>
          </li>
          <li class="nav-small-cap">Miscellaneous</li>
          <li> <a class="has-arrow waves-effect waves-dark" href="authentication-login.html" aria-expanded="false"> <i class="mdi mdi-login-variant"></i> <span class="hide-menu">Authentication</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="authentication-profile.html">Profile</a></li>
<li><a href="mailbox.html">Mailbox</a></li>
              <li><a href="authentication-account-settings.html">Account Settings</a></li>
              <li><a href="authentication-login.html">Login</a></li>
              <li><a href="authentication-register.html">Register</a> </li>
              <li><a href="password-recovery.html">Password Recovery</a></li>
              <li><a href="lockscreen.html">Lockscreen</a></li>
            </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-clock-fast"></i> <span class="hide-menu">Faq & Error</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="faq.html">Faq</a></li>
              <li><a href="error-403.html">Error 403</a></li>
              <li><a href="error-404.html">Error 404</a></li>
              <li><a href="error-501.html">Error 501</a></li>
              <li><a href="error-505.html">Error 505</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation --> 
    </div>
    <!-- End Sidebar scroll--> 
  </aside>
  <!-- ============================================================== -->     
  <!-- ============================================================== --> 
  <!-- Page wrapper  --> 
  <!-- ============================================================== -->
  <div class="page-wrapper">

      <!-- ============================================================== --> 
      <!-- Container fluid  --> 
      <!-- ============================================================== -->



    {# insert div container fluid #}


    {% block content %}

    {% endblock content %}



                <!-- ============================================================== --> 
                <!-- End Container fluid  --> 
                <!-- ============================================================== --> 
                <!-- ============================================================== --> 
                <!-- footer --> 
                <!-- ============================================================== -->
                <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 font-12">Copyrights 2019. Minion Admin. All Rights Reserved</div>
                            <div class="col-md-6 col-sm-6 text-right font-12">Designed & Developed by <a href="http://www.srgit.com/" target="_blank" class="text-themecolor">SRGIT</a></div>
                        </div>
                    </div>
                </footer>
                <!-- ============================================================== --> 
                <!-- End footer --> 
                <!-- ============================================================== --> 
            </div>
            <!-- ============================================================== --> 
            <!-- End Page wrapper  --> 
            <!-- ============================================================== --> 
        </div>
        <!-- ============================================================== --> 
        <!-- End Wrapper --> 
        <!-- ============================================================== --> 

    <!-- ============================================================== --> 
    <!-- All Jquery --> 
    <!-- ============================================================== --> 
    <script src="{{ asset('back/js/jquery3.2.0.min.js') }}"></script> 
    <!-- Bootstrap popper Core JavaScript --> 
    <script src="{{ asset('back/js/popper.min.js') }}"></script> 
    <script src="{{ asset('back/js/bootstrap4.2.1.min.js') }}"></script> 
    <!-- slimscrollbar scrollbar JavaScript --> 
    <script src="{{ asset('back/js/perfect-scrollbar.jquery.min.js') }}"></script> 
    <!--Wave Effects --> 
    <script src="{{ asset('back/js/waves.js') }}"></script> 
    <!--Menu sidebar --> 
    <script src="{{ asset('back/js/sidebarmenu.js') }}"></script> 
    <!--Custom JavaScript --> 
    <script src="{{ asset('back/js/custom.min.js') }}"></script> 
    <!--sparkline--> 
    <script src="{{ asset('back/js/jquery.sparkline.min.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.charts-sparkline.js') }}"></script> 
    <!--Morris JavaScript --> 
    <script src="{{ asset('back/js/raphael-min.js') }}"></script> 
    <script src="{{ asset('back/js/morris.js') }}"></script> 


    <!--jquery knob --> 
    <script src="{{ asset('back/js/jquery.knob.js') }}"></script> 

    <!--Custom JavaScript --> 
    <script src="{{ asset('back/js/excanvas.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.flot.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.flot.pie.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.flot.time.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.flot.stack.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.flot.crosshair.js') }}"></script> 
    <script src="{{ asset('back/js/jquery.flot.tooltip.min.js') }}"></script> 
    <script src="{{ asset('back/js/helpdesk.js') }}"></script> 
    {# <div class="flotTip" style="display:none; position: absolute;"></div> #}
    <script src="{{ asset('back/js/chart.min.js') }}"></script>
    <script src="{{ asset('back/js/helpdesk-chartjs.js') }}"></script> 

    <!-- EASY PIE CHART JS -->
    <script src="{{ asset('back/js/jquery.easypiechart.min.js') }}"></script>
    <script src="{{ asset('back/js/easy-pie-chart.init.js') }}"></script>
    
	  <!-- pienty -->
	  <script src="{{ asset('back/js/jquery.peity.min.js') }}"></script>
    <script src="{{ asset('back/js/jquery.peity.init.js') }}"></script>

    <script src="{{ asset('back/js/jquery-confirm.min.js') }}"></script>
    <!-- ============================================================== --> 
    <!-- Style switcher --> 
    <!-- ============================================================== --> 
    <script src="{{ asset('back/js/jQuery.style.switcher.js') }}"></script>
    <script src="{{ asset('back/js/jquery-confirm.min.js') }}"></script>
    {% block scripts %}{% endblock %}


</body>
</html>
